[Unit]
Description=GO Simple Tunnel
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gost -C /home/nemo/.config/gost/gost.json
ExecStop=/bin/kill -TERM $MAINPID
[Install]
WantedBy=user-session.target
